obj
bin
obj
bin
TestResult.xml
*.suo
PdfScribeCore.csproj.user
PdfScribe.csproj.user
/PdfScribeInstall/PrimaryOutputHarvest/*.pdb
/PdfScribeInstall/PrimaryOutputHarvest/*.exe
/PdfScribeInstall/PrimaryOutputHarvest/*.config
/PdfScribeInstall/PrimaryOutputHarvest/*.dll
