<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="PdfScribe"
               switchName="PdfScribeAll" >
        <listeners>
          <add name="textwriterListener"
              type="System.Diagnostics.TextWriterTraceListener"
              initializeData="PdfScribe_trace.log"
              traceOutputOptions="DateTime" />
          <remove name="Default" />
          <clear /> <!-- Remove the <clear /> element to turn on tracing output -->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="PdfScribeAll" value="Verbose"/>
    </switches>
  </system.diagnostics>
</configuration>
