<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="PdfScribe.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<system.diagnostics>
		<trace autoflush="true"/>
		<sources>
			<source name="PdfScribe" switchName="PdfScribeAll">
				<listeners>
					<add name="textwriterListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="PdfScribe_trace.log" traceOutputOptions="DateTime"/>
					<remove name="Default"/>
					<clear/>
					<!-- Remove the <clear /> element to turn on tracing output -->
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="PdfScribeAll" value="Verbose"/>
		</switches>
	</system.diagnostics>
	<applicationSettings>
		<PdfScribe.Properties.Settings>
   <setting name="OutputFile" serializeAs="String">
    <value>%UserProfile%\PDFSCRIBE.PDF</value>
   </setting>
   <setting name="OpenAfterCreating" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AskUserForOutputFilename" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="StripNoRedistill" serializeAs="String">
	<!-- This will slow things down because another pass will be made through the postscript file - set it to "False" unless needed -->
    <value>True</value>
   </setting>
  </PdfScribe.Properties.Settings>
	</applicationSettings>
</configuration>
