<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PdfScribe.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PdfScribe.Properties.Settings>
            <setting name="OutputFile" serializeAs="String">
                <value>%UserProfile%\PDFSCRIBE.PDF</value>
            </setting>
            <setting name="OpenAfterCreating" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AskUserForOutputFilename" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PrintPdfHookImpl" serializeAs="String">
                <value>PdfScribeHook, PdfScribeHook.DefaultPdfFileHook</value>
            </setting>
        </PdfScribe.Properties.Settings>
    </applicationSettings>
</configuration>